[req]
distinguished_name = dn
prompt = no
req_extensions = server
[dn]
CN = aTerminal Local Test
[server]
subjectAltName = IP:192.168.0.36,IP:127.0.0.1,DNS:localhost
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
